@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}
header{
	transition: 2s;
  	animation: Efectos 2s;
}
@keyframes Efectos {
  0% {
	margin-top: 150px;
  }
  60%{
	margin-top: -5px;
  }
  100% {
    margin-top: 0px;
  }
}
@media (min-width: 900px) {
	#imagen_central{
		margin-top: 20px;
		padding: 12px 12px;
		text-align: center;
		background-color: #82c3a6;
		border-radius: 10px 10px 0 0;
	}
	header h1{
		background-color: #5b7989;
		color: #fff;
		text-shadow:  2px 2px 2px #02010a;
		height: 22px;
		border-radius: 10px 10px;
		padding-left: 20px;
	}
	#menu{
		text-align: right;
		margin-top: 2px;
		padding-right: 20px;
	}
	.contenido {
		width: 900px;
		margin: 0 auto;
	}
	.header h1 {
		width: 100%;
		text-align: center;
	}
	.img1, .img2{
		text-align: center;
		width: 50%;
		margin-bottom: 5px;
	}
	.galeria1, .galeria2, .galeria3, .galeria4, .galeria5, .galeria6{
		text-align: center;
		margin-left: 4px;
		width: 32.6%;
		margin-bottom: 5px;
	}
	.contacto, .terminos, .redes, .derechos {
		width: 25%;
		text-align: center;
	}
	/*--------Section Galery-----------*/

}
@media (max-width: 899px) {
	#imagen_central{
		margin-top: 20px;
		padding: 12px 12px;
		text-align: center;
		background-color: #82c3a6;
		border-radius: 10px 10px 0 0;
	}
	header h1{
		background-color: #5b7989;
		color: #fff;
		text-shadow:  2px 2px 2px #02010a;
		height: 22px;
		border-radius: 10px 10px;
		padding-left: 20px;
		text-align: center;
		margin-bottom: 70px;
	}
	#menu{
		text-align: center;
		padding: 10px 10px;
	}
	.contacto, .terminos, .redes, .derechos {
		width: 100%;
		text-align: center;
	}
	.imagenes{
		background-color: #d5c75f;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
	}
	.img1, .img2{
		text-align: center;
		width: 100%;
		margin-bottom: 5px;
	}
	/*---------Section Galery Movil-----*/
	.galeria1, .galeria2, .galeria3, .galeria4, .galeria5, .galeria6{
		text-align: center;
		width: 100%;
		margin-bottom: 5px;
	}
	
}

a{
	text-decoration: underline;
	font-family: 'Dancing Script', cursive;
	font-size:0.95em;
	color: #5b7989;
}
a:hover{
	font-family: 'Dancing Script', cursive;
	font-size:0.95em;
	text-decoration: none;
	color: #fff;
}
.activo{
	font-family: 'Dancing Script', cursive;
	font-size:0.95em;
	text-decoration: none;
	color: #fff;

}
img{
	box-shadow: 2px 5px 5px #02010a;
}
.imagenes{
	background-color:  #d5c75f;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0;
	padding: 4px 0;
	width: 100%;
	border:1px solid #000;
}
.img1{
	-webkit-transition-duration: 0.5s;
  	transition-duration: 0.5s;
}
.img1:hover{
	transform: rotate(10deg);
	box-shadow: 2px #82c3a6;
	border:2px;
}
.img2{
	-webkit-transition-duration: 0.5s;
  	transition-duration: 0.5s;
}
.img2:hover{
	transform: translate(20px, -5px);
	box-shadow: 2px #82c3a6;
	border:2px;
}
.imagenes div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 25px;
}
/*----------Section Galery---------*/
.imagenes_galeria{
	background-color:  #d5c75f;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0;
	padding: 4px 0px;
	width: 100%;
	border:1px solid #000;
}
.imagenes_galeria div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 25px;
}
.galeria1{
	filter: blur(10px);
}
.galeria2, .galeria4, .galeria6{
	filter: grayscale(100%);
}
.galeria3{
	filter: sepia(90%);
}
/*----------Footer---------------*/
#pie{
	background-color: #C6d5c5;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	padding-top: 30px;
	padding-bottom: 20px;
	margin:0 auto;	
	border-radius: 0 0 10px 10px;
}
label{
	text-decoration: underline;
	font-weight: bold;
}



