@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}
.contenido{
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 900px) {
	.contenido {
		width: 900px;
		margin: 0 auto;
	}
}
header h1{
	background-color: #5b7989;
	color: #fff;
	text-shadow:  2px 2px 2px #02010a;
	height: 22px;
	border-radius: 10px 10px;
	padding-left: 20px;
}
#menu{
	text-align: right;
	padding-right: 20px;
}
a{
	text-decoration: underline;
	font-family: 'Dancing Script', cursive;
	font-size:0.95em;
	color: #5b7989;
}
a:hover{
	font-family: 'Dancing Script', cursive;
	font-size:0.95em;
	text-decoration: none;
	color: #fff;
}
.activo{
	font-family: 'Dancing Script', cursive;
	font-size:0.95em;
	text-decoration: none;
	color: #fff;

}
#imagen_central{
	margin-top: 20px;
	padding: 12px 12px;
	text-align: center;
	background-color: #82c3a6;
	border-radius: 10px 10px 0 0;
}
img{
	box-shadow: 2px 5px 5px #02010a;
}
#imagenes{
	background-color:  #d5c75f;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	padding: 25px 25px;
}
.contenedor_img{
	width: 100%;
}
.img1{
	text-align: center;
	width: 98%;
	margin-bottom: 20px;
}
.img2{
	text-align: center;
	width: 98%;
	margin-bottom: 20px;
}
@media (min-width: 600px) {
	.contenedor_img {
		width: 50%;
		
	}
}
#pie{
	background-color: #C6d5c5;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	padding-top: 30px;
	padding-bottom: 20px;
	margin:0 auto;	
	border-radius: 0 0 10px 10px;
}
.contacto, .terminos, .redes, .derechos {
	width: 100%;
	text-align: center;
}
@media (min-width: 800px) {
	.contacto, .terminos, .redes, .derechos {
		width: 25%;
		text-align: center;
	}
}
label{
	text-decoration: underline;
	font-weight: bold;
}



